<?xml version="1.0"?>
<config>
    <modules>
        <AW_Orderattributes>
            <version>1.0.4</version><platform>ce</platform>
        </AW_Orderattributes>
    </modules>
    <global>
        <blocks>
            <aw_orderattributes>
                <class>AW_Orderattributes_Block</class>
            </aw_orderattributes>
        </blocks>
        <helpers>
            <aw_orderattributes>
                <class>AW_Orderattributes_Helper</class>
            </aw_orderattributes>
        </helpers>
        <models>
            <aw_orderattributes>
                <class>AW_Orderattributes_Model</class>
                <resourceModel>aw_orderattributes_resource</resourceModel>
            </aw_orderattributes>
            <aw_orderattributes_resource>
                <class>AW_Orderattributes_Model_Resource</class>
                <entities>
                    <attribute>
                        <table>aw_orderattributes_attribute</table>
                    </attribute>
                    <value_int>
                        <table>aw_orderattributes_value_int</table>
                    </value_int>
                    <value_varchar>
                        <table>aw_orderattributes_value_varchar</table>
                    </value_varchar>
                    <value_text>
                        <table>aw_orderattributes_value_text</table>
                    </value_text>
                    <value_date>
                        <table>aw_orderattributes_value_date</table>
                    </value_date>
                    <option>
                        <table>aw_orderattributes_option</table>
                    </option>
                    <option_value>
                        <table>aw_orderattributes_option_value</table>
                    </option_value>
                    <label>
                        <table>aw_orderattributes_label</table>
                    </label>
                </entities>
            </aw_orderattributes_resource>
        </models>
        <resources>
            <aw_orderattributes_setup>
                <setup>
                    <module>AW_Orderattributes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_orderattributes_setup>
            <aw_orderattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_orderattributes_write>
            <aw_orderattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_orderattributes_read>
        </resources>
        <events>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <aw_orderattributes_checkout_onepage_saveBilling_postdispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutOnepageSaveBillingPostdispatch</method>
                    </aw_orderattributes_checkout_onepage_saveBilling_postdispatch>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <aw_orderattributes_checkout_onepage_saveShipping_postdispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutOnepageSaveShippingPostdispatch</method>
                    </aw_orderattributes_checkout_onepage_saveShipping_postdispatch>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
            <controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <aw_orderattributes_checkout_onepage_saveShippingMethod_postdispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutOnepageSaveShippingMethodPostdispatch</method>
                    </aw_orderattributes_checkout_onepage_saveShippingMethod_postdispatch>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <aw_orderattributes_checkout_onepage_savePayment_postdispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutOnepageSavePaymentMethodPostdispatch</method>
                    </aw_orderattributes_checkout_onepage_savePayment_postdispatch>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <aw_orderattributes_checkout_onepage_saveOrder_predispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutOnepageSaveOrderPredispatch</method>
                    </aw_orderattributes_checkout_onepage_saveOrder_predispatch>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <controller_action_predispatch_checkout_multishipping_overview>
                <observers>
                    <aw_orderattributes_checkout_multishipping_overview_predispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutMultishippingOverviewPredispatch</method>
                    </aw_orderattributes_checkout_multishipping_overview_predispatch>
                </observers>
            </controller_action_predispatch_checkout_multishipping_overview>
            <controller_action_predispatch_checkout_multishipping_overviewPost>
                <observers>
                    <aw_orderattributes_checkout_multishipping_overviewPost_predispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>checkoutMultishippingOverviewPostPredispatch</method>
                    </aw_orderattributes_checkout_multishipping_overviewPost_predispatch>
                </observers>
            </controller_action_predispatch_checkout_multishipping_overviewPost>
            <controller_action_predispatch_aw_onestepcheckout_ajax_placeOrder>
                <observers>
                    <aw_orderattributes_aw_onestepcheckout_ajax_placeOrder_predispatch>
                        <class>aw_orderattributes/observer</class>
                        <method>awOnestepcheckoutAjaxPlaceOrderPredispatch</method>
                    </aw_orderattributes_aw_onestepcheckout_ajax_placeOrder_predispatch>
                </observers>
            </controller_action_predispatch_aw_onestepcheckout_ajax_placeOrder>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aworderattributes after="Mage_Adminhtml">AW_Orderattributes_Adminhtml</aworderattributes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aw_orderattributes>
                    <file>aw_orderattributes.xml</file>
                </aw_orderattributes>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Orderattributes>
                    <files>
                        <default>AW_Orderattributes.csv</default>
                    </files>
                </AW_Orderattributes>
            </modules>
        </translate>
        <menu>
            <sales>
                <children>
                    <aw_orderattributes translate="title" module="aw_orderattributes">
                        <title>Order Attributes</title>
                        <sort_order>15</sort_order>
                        <children>
                            <manage_attributes translate="title" module="aw_orderattributes">
                                <title>Manage Attributes</title>
                                <action>adminhtml/aworderattributes_attribute/index</action>
                                <sort_order>10</sort_order>
                            </manage_attributes>
                            <manage_orders translate="title" module="aw_orderattributes">
                                <title>Manage Orders</title>
                                <action>adminhtml/aworderattributes_order/index</action>
                                <sort_order>20</sort_order>
                            </manage_orders>
                        </children>
                    </aw_orderattributes>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <aw_orderattributes translate="title" module="aw_orderattributes">
                                    <title>Order Attributes</title>
                                    <sort_order>200</sort_order>
                                    <children>
                                        <manage_attributes translate="title" module="aw_orderattributes">
                                            <title>Manage Attributes</title>
                                            <sort_order>10</sort_order>
                                        </manage_attributes>
                                        <manage_orders translate="title" module="aw_orderattributes">
                                            <title>Manage Orders</title>
                                            <sort_order>20</sort_order>
                                        </manage_orders>
                                    </children>
                                </aw_orderattributes>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <aw_orderattributes>
                <use>standard</use>
                <args>
                    <module>AW_Orderattributes</module>
                    <frontName>aw_orderattributes</frontName>
                </args>
            </aw_orderattributes>
        </routers>
        <layout>
            <updates>
                <aw_orderattributes>
                    <file>aw_orderattributes.xml</file>
                </aw_orderattributes>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Orderattributes>
                    <files>
                        <default>AW_Orderattributes.csv</default>
                    </files>
                </AW_Orderattributes>
            </modules>
        </translate>
    </frontend>

    <aw_lib>
        <models>
            <pdf>
                <invoice>
                    <aw_orderattribute>
                        <model>aw_orderattributes/sales_order_pdf_invoice</model>
                        <sort_order>50</sort_order>
                    </aw_orderattribute>
                </invoice>
                <creditmemo>
                    <aw_orderattribute>
                        <model>aw_orderattributes/sales_order_pdf_creditmemo</model>
                        <sort_order>50</sort_order>
                    </aw_orderattribute>
                </creditmemo>
                <shipment>
                    <aw_orderattribute>
                        <model>aw_orderattributes/sales_order_pdf_shipment</model>
                        <sort_order>50</sort_order>
                    </aw_orderattribute>
                </shipment>
            </pdf>
        </models>
    </aw_lib>
</config>