<?xml version="1.0"?>
<config>
    <modules>
        <AW_Storelocator>
            <version>1.1.2</version><platform>ce</platform>
        </AW_Storelocator>
    </modules>
    <frontend>        
        <translate>
            <modules>
                <AW_Storelocator>
                    <files>
                        <default>AW_Storelocator.csv</default>
                    </files>
                </AW_Storelocator>
            </modules>            
        </translate>         
        <routers>
            <aw_storelocator>
                <use>standard</use>
                <args>
                    <module>AW_Storelocator</module>
                    <frontName>aw_storelocator</frontName>
                </args>
            </aw_storelocator>
        </routers>
        <layout>
            <updates>
                <aw_storelocator module="AW_Storelocator">
                    <file>aw_storelocator.xml</file>
                </aw_storelocator>
            </updates>
        </layout>         
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aw_storelocator_admin before="Mage_Adminhtml">AW_Storelocator_Adminhtml</aw_storelocator_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Storelocator>
                    <files>
                        <default>AW_Storelocator.csv</default>
                    </files>
                </AW_Storelocator>
            </modules>
        </translate> 
             
        <layout>
            <updates>
                <aw_storelocator module="AW_Storelocator">
                    <file>aw_storelocator.xml</file>
                </aw_storelocator>
            </updates>
        </layout>
    </adminhtml>   
    <global>       
        <models>
            <aw_storelocator>
                <class>AW_Storelocator_Model</class>
                <resourceModel>aw_storelocator_mysql4</resourceModel>
            </aw_storelocator> 
            <aw_storelocator_mysql4>
                <class>AW_Storelocator_Model_Mysql4</class>
                <entities>
                    <location>
                        <table>aw_storelocator_location</table>
                    </location>
                    <opening_hours>
                        <table>aw_storelocator_opening_hours</table>
                    </opening_hours>
                    <opening_hours_location>
                        <table>aw_storelocator_opening_hours_location</table>
                    </opening_hours_location>
                </entities>
            </aw_storelocator_mysql4>            
        </models>
        <resources>
            <aw_storelocator_setup>
                <setup>
                    <module>AW_Storelocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_storelocator_setup>
            <aw_storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_storelocator_write>
            <aw_storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_storelocator_read>
        </resources>
        <blocks>
            <aw_storelocator>
                <class>AW_Storelocator_Block</class>
            </aw_storelocator>
        </blocks>
        <helpers>
            <aw_storelocator>
                <class>AW_Storelocator_Helper</class>
            </aw_storelocator>
        </helpers> 
         <events>            
            <controller_front_init_routers>
                <observers>
                    <aw_storelocator_routing>                     
                        <class>AW_Storelocator_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </aw_storelocator_routing>
                </observers>
            </controller_front_init_routers>
             <core_block_abstract_to_html_after>
                <observers>
                    <aw_store_locator_google_map>
                        <type>singleton</type>
                        <class>aw_storelocator/observer</class>
                        <method>prepareHead</method>
                    </aw_store_locator_google_map>                   
                </observers>              
            </core_block_abstract_to_html_after>  
        </events>           
    </global> 
    <default>
        <aw_storelocator>
            <general>
                <url_key>google-map</url_key>
            </general>
            <search>
                <radius>1,3,5,10,15,25,50,100,500</radius>
            </search>
            <search>
                <default_radius>25</default_radius>
            </search>
        </aw_storelocator>
    </default>    
</config>
